{{ if isset .Site.Params "work" }}
{{ if .Site.Params.work.enable }}
<section class="bar background-white no-mb">
    <div class="container">

        <div class="col-md-12">
            <div class="heading text-center">
                <h2>{{ .Site.Params.work.title }}</h2>
            </div>

            <p class="lead">
              {{ .Site.Params.work.subtitle | markdownify }}
            </p>

            <!-- *** BLOG HOMEPAGE *** -->

            <div class="row">

                {{ $work_pages := .Site.Data.writing.work }}
                {{ range $index, $page := sort $work_pages "weight" }}
                <div class="col-md-3 col-sm-6">
                    <div class="box-image-text work">
                        <div class="top">
                            <div class="image" style="overflow:hidden">
                                {{ if $page.image }}
                                <img src="{{ .Site.BaseURL}}{{ $page.image }}" class="img-responsive work-img" alt="" >
                                {{ else }}
                                <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive work-img" alt="">
                                {{ end }}
                            </div>
                            <div class="bg"></div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="{{ .Site.BaseURL }}{{ $page.link }}" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> {{ i18n "seeMore" }}</a>
                                </p>
                            </div>
                        </div>

                        <div class="content">
                            <h4><a href="{{ .Site.BaseURL }}{{ $page.link }}">{{ $page.name }}</a></h4>
                            <p class="intro">{{ $page.clip }}</p>
                            <p class="read-more">
                              <a href="{{ .Site.BaseURL }}{{ $page.link }}" class="btn btn-template-main">{{ i18n "viewProject" }}</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.box-image-text -->

                </div>
                {{ end }}

            </div>
            <!-- /.row -->

            <!-- *** BLOG HOMEPAGE END *** -->

        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
