/* your styles go here */

.bar.background-blue {
    background: #0000ff;
}

.bar.background-image-fixed-3 {
    /*background: linear-gradient(rgba(246,246, 246, .8)), url('../img/home-background.png') center top no-repeat ;*/
    background-image: linear-gradient(
      rgba(246, 246, 246, 0.99),
      rgba(9, 55, 106, 0.8) 70%
    ), url('/img/home-background.png');
    background-attachment: fixed;
    background-size: cover;
}

@media (min-width: 992px) {
    .work-piece.work-left {
        margin-right: 30px;
    }

    .row.equal-height {
        display: flex;
        flex-wrap: wrap;
    }

    .equal-height > div[class*='col-'] {  
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .work-description .work-img {
        margin-bottom: 10px;
    }
}


@media (max-width: 991px) {
    .work-piece .work-img {
        margin-bottom: 15px;
    }
}

.header-logo {
    /*display: inline !important; */
    width: 32px;
    height: 32px;
    margin-right: 3px;
    margin-top: 5px;
}

.navbar-brand > img {
    display: inline;
}

@media (max-width: 991px) {
    .navbar-brand > img.visible-sm {
        display: inline !important;
    }
}

.header-logo-text, .header-logo-text-small {
    /*display: inline; */
}

.work-text > p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
}


.work .work-img {
    min-height: 200px;
    max-height: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.work-description {
    margin-bottom: 30px;
}

.work-feature {
    margin-bottom: 40px;
}

.box-tech {    
    /*min-height: 150px;*/
    text-align: justify;
}

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

main {
    text-align: center;
    color: #fff;
    /*background: #38a7bb;*/
}

main img {
    display: block;
    margin: 0 auto 20px;
}

main .container {
    padding-top: 25px;
    padding-bottom: 20px;
}

main .landing-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

html.full-height {
    height: 100%;
}

html.full-height > body {
    min-height: 100%;
    height: 100%;
}

#landing-page {
    min-height: 100%;
    /*height: 100%;*/
    width: 100%;
    /*background-image: linear-gradient(
      rgba(49, 105, 189, 0.9),
      rgba(49, 105, 189, .9) 65%,
      rgba(60, 116, 190, 0.9) 
    ), url('/img/home-background.jpeg');*/
    background-image: linear-gradient(
      rgba(246, 246, 246, 0.9) 15%,
      /*rgba(49, 105, 189, .9) 100%,*/
      rgba(9, 55, 106, 0.9)
       
    ), url('/img/home-background.jpeg');
    background-size: 100% 100%;
    
}

hr.landing-split {
    color: rgb(100, 100, 100);
    background-color: rgb(100, 100, 100);
    background: linear-gradient(to right, rgba(100, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    border: none;
    height: 2px;
    margin: 25px auto 35px;
    padding: 0;
    max-width: 100px;
    /*border: 0;
    border-top: solid 2px;*/
    text-align: center;
    display: none;
}

p.landing-summary {
    font-weight: 400;
    /*color: rgba(255, 255, 255, 1);*/
    color: rgba(10, 10, 10, 1);
    font-size: 22px;
    /*font-size: 18px;*/
    margin-bottom: 10px;
    line-height: 1.5;
    letter-spacing: .1em;
}

p.landing-prompt {
    font-weight: 400;
    /*color: rgba(255, 255, 255, 1);*/
    color: rgba(10, 10, 10, 1);
    font-size: 22px;
    /*font-size: 18px;*/
    margin-bottom: 20px;
    line-height: 1.5;
    letter-spacing: .1em;
}

p.landing-def {
    font-size: 26px;
    /*color: rgba(255, 255, 255, 1);*/
    color: rgb(10, 10, 10);
    font-weight: 400;
    margin-bottom: 45px;
}

@media (min-width: 768px) {
    main .landing-text .name {
        font-size: 3.5em;
    }

    main .container {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    p.landing-prompt {
        /*font-size: 20px;*/
        /*max-width: 80%;*/
        margin-left: auto;
        margin-right: auto;
    }

    p.landing-summary {
        /*font-size: 20px;*/
        /*max-width: 80%;*/
        margin-left: auto;
        margin-right: auto;
    }
}

#post-content {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    font-family: candara, Open Sans, Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#post-content > p {
    margin-bottom: 25px;
}

#post-content > h1, #post-content > h2, #post-content > h3, 
#post-content > h4, #post-content > h5, #post-content > h6 {
    color: rgb(60, 60, 60);
}

.carousel-list > li {
    padding: 5px 0;
}

#thank-you-gap {
    opacity: 0;
    height: 15px;
    /*margin-bottom: 30px;*/
}

.home.icon {
    border: none;
}

.box-simple-service {
    /*text-align: left;*/
    text-align: center;
    /*-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.17);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.17);
    padding: 10px 5px;*/
}

.box-simple-service h3 {
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1.5;
  color: #555555;
  font-weight: 800;
  letter-spacing: 0.08em;
}

.box-simple-service p {
  color: #666;
  font-size: 16px;
  margin-bottom: 25px;
}

.box-simple-service .service-button {
    color: #555;
}

.definition {
    font-size: 1.8em;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.6);
}

.lead {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}