{{ if isset .Site.Params "see_more" }}
{{ if .Site.Params.see_more.enable }}
<section class="bar background-image-fixed-3 no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--<div class="icon icon-lg"><i class="{{ .Site.Params.see_more.icon }}"></i>
                </div>-->
                <div class="icon icon-lg home">
                    <img class="img-responsive img-circle" src="/img/logoSpiralAlpha.png"  alt="">
                </div>
                <!--<h3 class="">{{ .Site.Params.see_more.title }}</h3>-->
                <h3 class="definition">Prox·i·mal: Next to or nearest the point of attachment or origin, a central point, or the point of view</h3>
                <!--<p class="lead">{{ .Site.Params.see_more.subtitle }}</p>-->
                <!--<p class="lead">I create websites and content that bring the core of your business to your audience</p>-->
                <p class="lead">I create websites and content that bring the core of your business to your audience</p>
                <p class="lead">We will build an online story that engages your users</p>
                <!--<p class="text-center">
                    Together, we'll build a compelling web presence that your customers simply cannot resist.
                    <a href="{{ .Site.Params.see_more.link_url }}" class="btn btn-template-transparent-black btn-lg">{{ .Site.Params.see_more.link_text }}</a>
                </p>-->
            </div>

        </div>
    </div>
</section>
{{ end }}
{{ end }}
