{{ if isset .Site.Params "services" }}
{{ if .Site.Params.services.enable }}
{{ if eq (len .Site.Data.services) 2 }}
<section class="bar background-white">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                {{ range $index, $element := sort .Site.Data.services "weight" }}
                    <div class="col-md-6 col-xs-12">
                        <div class="box-simple-service">
                            <!--<div class="icon">
                                <i class="{{ .icon }}"></i>
                            </div>-->
                            <h3>{{ $element.name }}</h3>
                            <p>{{ $element.description | markdownify }}</p>
                            <p class="">
                                <a href="{{ .link }}" class="btn btn-default service-button">{{ .linkText }}</a>
                            </p>
                        </div>
                    </div>
                {{ end }}
            </div>
		</div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
