<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-12" id="blog-listing-medium">

                        {{ $paginator := .Paginate (where .Data.Pages "Type" "work") }}
                        {{ range $index, $page := $paginator.Pages }}
                        {{ if eq (mod $index 2) 0 }}
                        <div class="row">
                            <div class="col-md-6">
                                <section class="work-piece work-left">
                        {{ else }}
                            <div class="col-md-6">
                                <section class="work-piece">
                        {{ end }}
                                    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="image">
                                                <a href="{{ .Permalink }}">
                                                    {{ if .Params.banner }}
                                                    <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" class="img-responsive work-img" alt="">
                                                    {{ else }}
                                                    <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive work-img" alt="">
                                                    {{ end }}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <p class="intro" style="text-align: justify">{{ .Summary }}</p>
                                            <p class="pull-left read-more"><a href="{{ .Permalink }}" class="btn btn-template-main">{{ i18n "viewProject" }}</a>
                                            </p>
                                        </div>
                                    </div>
                                </section>
                            </div>    
                        {{ if or (eq (mod $index 2) 1) (eq $index (sub (len $paginator.Pages) 1 )) }}
                        </div>
                        {{ end }}
                        {{ end }}

                        <ul class="pager">
                            {{ if .Paginator.HasPrev }}
                            <li class="previous"><a href="{{ .Site.BaseURL }}{{ .Paginator.Prev.URL }}">&larr; {{ i18n "newer" }}</a></li>
                            {{ else }}
                            <li class="previous disabled"><a href="#">&larr; {{ i18n "newer" }}</a></li>
                            {{ end }}

                            {{ if .Paginator.HasNext }}
                            <li class="next"><a href="{{ .Site.BaseURL }}{{ .Paginator.Next.URL }}">{{ i18n "older" }} &rarr;</a></li>
                            {{ else }}
                            <li class="next disabled"><a href="#">{{ i18n "older" }} &rarr;</a></li>
                            {{ end }}
                        </ul>
                    </div>
                    <!-- /.col-md-9 -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN ***
       _________________________________________________________ -->

                    
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
