<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">

                <div class="row work-description">

                    <!-- *** LEFT COLUMN *** -->

                    
                            
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                {{ if isset .Params "banner" }}
                                <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" class="img-responsive work-img pull-left" alt="" >
                                {{ else }}
                                <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive work-img pull-left" alt="">
                                {{ end }} 
                            </div>
                            
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <div class="work-text">{{ .Content }}</div>
                                <div class="work-links">
                                    <a class="btn btn-default" href="{{ .Params.link }}" role="button" target="_blank">Go to project</a>
                                </div>
                            </div>
                            
                        
                        
                        
                        
                        
                        <!--{{ if isset .Params "banner" }}
                        <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" class="img-responsive work-img" alt="" >
                        {{ else }}
                        <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive work-img" alt="">
                        {{ end }} 
                        <div id="post-content">
                          {{ .Content }}
                        </div>
                        <!-- /#post-content -->

                    
                    <!-- /#blog-post -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN *** -->

                    <!-- <div class="col-md-3">

                        

                          {{ partial "sidebar.html" . }} 

                        

                    </div> -->
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->
                
                <div class="row work-feature">
                    
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="box-tech">
                                    <h3>{{ .Params.tech1 }}</h3>
                                    <p>{{ .Params.tech1_content }}</p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="box-tech">
                                    <h3>{{ .Params.tech2 }}</h3>
                                    <p>{{ .Params.tech2_content }}</p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="box-tech">
                                    <h3>{{ .Params.tech3 }}</h3>
                                    <p>{{ .Params.tech3_content }}</p>
                                </div>
                            </div>
                        
                </div>
                

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
